body {
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg ,rgb(167, 146, 119),
    rgb(209, 187, 158),
    rgb(234, 216, 192),
    rgb(255, 242, 225));

}


.logo{
    height: 120px;
    width: 120px;
    border-radius:220px;
    margin-left: 25px;
}

nav{
   background-color: blanchedalmond;
    display: inline-flex;
    width: 100%;
  


}
.nav-list li{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    list-style-type: none;
    display:inline-flex;
    color: rgb(110, 76, 34);
    margin-top: 30px;
	margin-right: 200px;
	margin-left: -600px;
	font-size: x-large;
   
}
.nav-list li a{
    color: rgb(110, 76, 34);
    text-decoration: none;
   
}
.nav-list li a:hover,.title:hover{
    color: rgb(197, 144, 63);
}





.container{
	display: flex;
	justify-content: center;
	align-items: center;
	background:white;
	height: 550px;
	width: 550px;
	border-radius: 50px;
     margin-top: 330px;
     margin-left: 650px;
	left: 50%;
	top: 80%;
	transform: translate(-50%,-50%);
	border: 5px solid rgb(82, 72, 44);

}
#input-container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 15px;
	
}
#input-container input{
	margin-bottom: 20px;
	padding: 10px;
	width: 490px;
	cursor: pointer;
	text-align: center;
   font: 'Times New Roman', Times, serif;;
}
.resultbox{
	
	height: 100px;
	width: 95%;
	position:absolute;
	top: 78%;
	transition: 0.3s;
	 border-radius: 25px;
	margin-left: -13px;
	box-shadow: inset 0 0 5px rgb(151, 140, 94),inset 0 0 10px rgb(151, 140, 94);
	color:rgb(110, 76, 34);
	background:blanchedalmond;
	text-align: center;
	
}
button{
    top: -10px;
	background: blanchedalmond;
font-size: 24px;
	height: 38px;
	border-radius: 1rem;
	border: none;
	cursor: pointer;
	position: relative;
	color: rgb(110, 76, 34);
	transition: 0.3s ease-in-out;
	margin-left: 200px;
	
	
}
button::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transform: scale(1.05);
	border-radius: 1rem;
	background: linear-gradient(to top right , blanchedalmond , rgb(175, 156, 128));
	z-index: -1;
}
button:hover{
z-index: 0;
box-shadow: 25px 0 100px rgb(137, 101, 47),-25px 0 100px rgb(216, 165, 88);
}
#image{
	position: absolute;
	top: 2%;
	left: 40%;
	border: 3px solid rgb(137, 101, 47);
	z-index: 0;
box-shadow: 5px 0 10px rgb(137, 101, 47),-5px 0 10px  rgb(216, 165, 88);

}
h1{
	margin-bottom: 10px;
    color: rgb(110, 76, 34);
font-family:'Times New Roman', Times, serif;
	padding-left: 10%;
}